
#first-section {
  background-color: #000000;
  background-image: url('../images/comp.jpg');
  text-shadow: 1px 1px black;
}

#second-section {
  background-color: white;
  z-index: 1;
  position: relative;
}

#third-section {
  background-color: #9db998;
}

#white-row {
  color: black;
}

#node {
  -webkit-animation-delay: .5s;
}

#terraform {
  -webkit-animation-delay: 1s;
}

.title-bar {
  background-color: white;
  color: black;
  position: relative;
  box-shadow: 0px 0px;
  z-index: 100;
}

.row {
    color: white;
}

.footer {
  background-color: #263344;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.blue-circle {
	transition-property: transform;
	transition-timing-function: ease-in-out;
	position: absolute;
	width: 100px;
	height: 100px;
  z-index: 1;
	border-radius: 50px;
	background-color: #5a6269;
	opacity: .5;
}

.morphext > .animated {
    display: inline-block;
}

.size-12 { font-size: 12px; }

.size-14 { font-size: 14px; }

.size-16 { font-size: 16px; }

.size-18 { font-size: 18px; }

.size-21 { font-size: 21px; }

.size-24 { font-size: 24px; }

.size-36 { font-size: 36px; }

.size-48 { font-size: 48px; }

.size-60 { font-size: 60px; }

.size-72 { font-size: 72px; }


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
